<!DOCTYPE html>
<html>
    <body>
        <h2> Students: </h2>
        
        <% @students.each do |s| %>
            <p> <%= s.name %> <a href="/student/<%= s.id%>"> Show information </a> </p>
        <% end %>
    </body>
</html>